*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}

.main{
    background-image: url("BD-en-20240108-popsignuptwoweeks-perspective_alpha_website_large.jpg");
    height: 110vh;
    /* background-size: max(1850px, 100vw); */
    background-size: cover;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    filter: brightness(1.3);


    overflow: hidden;

}





.main .box{
    width: 100%;
    height:110vh;
    /* background-color: black;
    opacity: 0.65; */

    /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.65) 40%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.65) 60%, rgba(0, 0, 0, 0.9) 100%); */
    opacity: 1;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.9) 0%,
        rgba(0, 0, 0, 0.65) 25%, /* Adjusted to increase the middle portion */
        rgba(0, 0, 0, 0.5) 50%,
        rgba(0, 0, 0, 0.65) 65%, /* Adjusted to increase the middle portion */
        rgba(0, 0, 0, 0.9) 100%
      );

    position: absolute;
    top: 0;

}



nav{
    /* background-color: rgb(221, 10, 52); */
    display: flex;
    width: 75vw;
    margin: auto;
    justify-content: space-between;
    height: 62px;
    
}

@media screen and (max-width: 768px) {
    nav{
        width: 95vw;
    }
    
}

nav img{
    width: 165px;
    height: 45px;
    /* height: 15px; */
    margin: auto 0;
    position: relative;
    z-index: 1;
    padding: 30px 0px 0px 0px;
    
}
.navbut{
    margin: auto 0;
    padding: 30px 0px 0px 0px;

}

nav .navbut button{
    position: relative;
    z-index: 10;
    background-color: red;
    /* border: none;
    border-radius: 10px; */
    padding: 8px 15px;
    transition: inherit;
    border-style: solid;
    /* border-width: 0.0625rem; */
    border-radius: 0.4rem;
    font: inherit;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
    font-style: bold;
    font-weight: 600;
    color: white;
}
.navbut button:nth-child(1){
    background-color: transparent;
    background-color: rgba(23,23,23,0.7);
    border: 1px solid white;
    color: white;
    margin-right: 10px;

}

nav .navbut button:hover{
    background-color: rgb(212, 27, 64);
    cursor: pointer;
}


.mainnext{
    height: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    margin: 200px;

    
}

.mainnext h1,h5,p{
    color: white;
    position: relative;
    z-index: 10;
    margin: 10px 0px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.mainnext h1{
    font-size: 3rem;
    font-weight: 900;
    
    /* font-style: bold; */
}

@media screen and (max-width: 768px) {
    .mainnext h1{
        font-size: 2rem;
        font-weight: 700;
    }
    
}

.mainnext h5{
    font-size: 1.7rem;
    font-weight: 500;
    /* font-style: bold; */
}

@media screen and (max-width: 768px) {
    .mainnext h5{
        font-size: 1.2rem;
        font-weight: 500;
    }
    
}

.mainnext p{
    font-size: 1.4rem;
    font-weight: 200;
    /* font-style: bold; */
}

@media screen and (max-width: 768px) {
    .mainnext p{
        font-size: 1rem;
        font-weight: 200;
        /* width: 80vw; */
    }

    .mainnext h1,h5,p{
        /* width: 80vw; */
    
}
}
.mainnext span input{
    width: 25vw;
    height: 5vh;
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 200;
    background: transparent;
    background-color: rgba(23,23,23,0.7);
    border: 1px solid white;
    /* background-color: rgb(5, 5, 5); */
    /* opacity: 0.5; */
    /* font-style: bold; */
}

.mainnext span button{
    width: 12vw;
    height: 8vh;
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-size: 1rem;
    font-weight: 600;
    background-color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background-color: rgb(5, 5, 5); */
    /* opacity: 0.5; */
    /* font-style: bold; */
    color: white;
}

.mainnext span button:hover{
    background-color: rgb(226, 69, 69);
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .mainnext span input{
        width: 60vw;
        height: 5vh;
        border-radius: 5px;
        border: none;
        padding: 10px;
        font-size: 1rem;
        font-weight: 200;
        background: transparent;
        border: 1px solid white;
        /* background-color: rgb(5, 5, 5); */
        /* opacity: 0.5; */
        /* font-style: bold; */
    }
    
    .mainnext span button{
        width: 35vw;
        height: 8vh;
        border-radius: 5px;
        border: none;
        padding: 10px;
        margin: 20px;
        font-size: 1rem;
        font-weight: 600;
        background-color: red;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        /* background-color: rgb(5, 5, 5); */
        /* opacity: 0.5; */
        /* font-style: bold; */
        color: white;
    }
    
}

.separationline{
    width: 100%;
    height: 5px;
    background-color: rgb(61, 60, 60);
   
}

.first{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.firstbox{
    color: white;
    display: flex;
    flex-direction: column ;
    width: 40vw;
    max-width: 50vw;
    /* margin: auto; */
    
}

@media screen and (max-width: 1400px) {
    .first{
        /* display: flex; */
        flex-direction: column;
        width: 100vw;
    }
    
}

@media screen and (max-width: 837px) {
    .firstbox{
        width: 80vw;
        max-width: 80vw;
    }
    
}

.firstbox h1{
    margin-left: 10px;
    font-size: 3rem;
    font-weight: 900;
    margin: 10px 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media screen and (max-width: 768px) {
    .firstbox h1{
        font-size: 2rem;
        font-weight: 700;
        margin: auto;
        padding: 30px 0px;
    }
    
}

.firstbox h5{
    font-size: 1.3rem;
    font-weight: 500;
    margin: 10px 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
}

@media screen and (max-width: 823px) {
    .firstbox h5{
        font-size: 1rem;
        font-weight: 500;
        margin: auto;
        width: 80vw;
        padding: 30px 0px;
    }
    
    
}

.firstbox-img{
    /* display: flex; */
    position: relative;

}

@media screen and (max-width: 800px) {
    .firstbox-img{
        display: flex;
        flex-direction: column;
        width: 100vw;
    }
    
}

.firstbox-img img{
    position: relative;
    z-index: 10;
    right: 0;
    overflow: hidden;
    
}
.video-container{
    
    
    padding-top: 30px;
    padding-left: 95px;
    height: 0;
    overflow: hidden;
    width: 100%;
}

@media screen and (max-width: 430px) {
    .video-container{
        padding-top: 30px;
        padding-left: 0px;
        height: 0;
        overflow: hidden;
        width: 50%;
        left: 0;
    }
    
    
}
.firstbox-img video {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    opacity: 0.9;
    overflow: hidden;
}


.imgbox-container{
    display: flex;
    border: 1.5px solid gray;
    width: 100%;
    height: 70px;
    border-radius: 10px;
    /* top: 0; */
    bottom: 15%;
    left: 0;
    -webkit-box-align: center;
    /* left: 10vw; */
    position: absolute;
    background-color: black;
    overflow: hidden;
    
   
}

.imgbox-container img{
    width: 60px;
    height: 70px;
    /* border-radius: 10px; */
    object-fit: cover;
    /* border: 2px solid red; */
}

@media screen and (max-width: 800px) {
    .imgbox-container{
        display: flex;
        flex-direction: column;
        width: 100vw;
        margin-bottom: 20px;
    }
    
}

.secp{
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin-left: 6px;
    justify-content: flex-start;
    align-items: flex-start;

  
}
.secp p:nth-child(2){
    font-size: 0.8rem;
    font-weight: 500;
    margin: 0px;
    color: rgb(77, 48, 207);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.secondbox-img{
    position: relative;
    /* margin-bottom: 10px; */
}

@media screen and (max-width: 800px){
    .secondbox-img {
        display: flex;
        flex-direction: column;
        width: 100vw;
    }
}


.secondbox-img>img{
    position: relative;
    height: 100%;
    /* margin: 0px 150px; */
    /* margin-left: 10vw; */
}

.secondbox-img img{
    /* position: relative; */
    border-radius: 10px;
}

.text h1{
    color: white;
    font-size: 3.5rem;
    margin: 10px 10px;
}

@media screen and (max-width: 768px) {
    .text h1{
        font-size: 2rem;
        font-weight: 700;
        /* margin: auto;
        padding: 30px 0px; */
    }
    
}

.text{
    display: flex;
    flex-direction: column;
    margin: 5vh 5vw;
    width: 40vw;
    max-width: 50vw;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.text> p{
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 10px 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
    margin: 10px 10px;

}

.second{
    display: flex;
    align-items: center;
    justify-content: center;
   
    
    width: 100%;
    /* margin-top: 100px; */
    /* margin: auto; */
    
}

@media screen and (max-width: 1400px) {
    .second{
        /* display: flex; */
        flex-direction: column;
        /* width: 100vw; */
    }
    
} 


.thirdtext{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40vh;
    margin: auto;
    /* border: 3px solid red; */
} 


.third h1{
    color: white;
    font-size: 3.5rem;
    font-weight: 900;
    margin: 10px 0px;
}

@media screen and (max-width: 768px) {
    .third h1{
        font-size: 2rem;
        font-weight: 700;
        /* margin: auto; */
        /* padding: 30px 0px; */
    }
    
}

.third p{
    color: white;
    font-size: 1.3rem;
    font-weight: 500;
    margin: 10px 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
}

@media screen and (max-width: 768px) {
    .third p{
        font-size: 1rem;
        font-weight: 500;
        /* margin: auto; */
        width: 80vw;
        /* padding: 30px 0px; */
    }
    
}

.fourth{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* margin-top: 100px; */
    margin: auto;
    /* border: 3px solid red; */
}


.fourthtext{

    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    width: 100%;
    /* width: 40vw; */
    height: 40vh;
    /* margin: auto; */
    color: white;   
    /* border: 3px solid red; */

}

.fourthtext h1{
    color: white;
    font-size: 3.5rem;
    font-weight: 900;
    margin: 10px 0px;
}

.fourthtext p{
    color: white;
    font-size: 1.6rem;
    font-weight: 500;
    margin: 10px 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* text-align: justify; */
}


@media screen and (max-width: 1400px) {
    .fourth{
        /* display: flex; */
        flex-direction: column;
        width: 100vw;
    }

    .fourthtext{
        flex-direction: column;
    }
    
}

@media screen and (max-width: 800px){
.fourthbox-img {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin-bottom: 20px;
}
}


.faq h1{
    color: white;
    font-size: 3.5rem;
    font-weight: 900;
    margin: 10px 0px;
    text-align: center;
    margin: 20px 0px;
}

.commonfaq{
   color: white;
    font-size: 1.3rem;
    width: 70vw;
    height: 9vh;
    /* border: 2px solid red; */
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    background-color: rgb(48, 47, 47);
    padding: 10px 30px;
    text-align: center;



}

.commonfaq:hover{
    background-color: rgb(65, 65, 65);
    cursor: pointer;
}

.commonfaq img{
    width: 40px;
    height: 40px;
    margin: auto 0;
    /* border: 2px solid red; */
}

.commonfaq h3{
    /* width: 80%; */
    margin: auto 0;
    /* border: 2px solid red; */
    font-size: 1.6rem;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* text-align: center; */

}

.faqfooter{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    height: 40vh;
    /* border: 2px solid red; */
    margin: auto;
    /* background-color: rgb(48, 47, 47); */
    /* padding: 10px 30px; */
    text-align: center;
    flex-direction: column;
    /* margin-top: 100px; */
    margin-bottom: 20px;
}

.faqfooter p{
    color: white;
    font-size: 1.3rem;
    font-weight: 500;
    margin: 10px 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* text-align: center; */
}

.faqfooter span input{
    width: 25vw;
    height: 5vh;
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 200;
    background: transparent;
    background-color: rgba(23,23,23,0.7);
    border: 1px solid white;
    /* background-color: rgb(5, 5, 5); */
    /* opacity: 0.5; */
    /* font-style: bold; */
}



.faqfooter span button{
    width: 12vw;
    height: 8vh;
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-size: 1rem;
    font-weight: 600;
    background-color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background-color: rgb(5, 5, 5); */
    /* opacity: 0.5; */
    /* font-style: bold; */
    color: white;
}

@media screen and (max-width: 768px) {
    .faqfooter span input{
        width: 60vw;
        height: 5vh;
        border-radius: 5px;
        border: none;
        padding: 10px;
        font-size: 1rem;
        font-weight: 200;
        background: transparent;
        border: 1px solid white;
        /* background-color: rgb(5, 5, 5); */
        /* opacity: 0.5; */
        /* font-style: bold; */
    }
    
    .faqfooter span button{
        width: 35vw;
        height: 8vh;
        border-radius: 5px;
        border: none;
        padding: 10px;
        margin: 20px;
        font-size: 1rem;
        font-weight: 600;
        background-color: red;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        /* background-color: rgb(5, 5, 5); */
        /* opacity: 0.5; */
        /* font-style: bold; */
        color: white;
    }
    
}

.faqfooter span button:hover{
    background-color: rgb(226, 69, 69);
    cursor: pointer;
}

.footer{
    margin: 10px 80px
}

.footerbox{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    margin: auto;
    width: 100%;
    height: 40vh;
    justify-items: center;
    align-items: center;
    
}

@media (max-width: 780px) {
    .footerbox
     { grid-template-columns: repeat(2, 1fr); }

     .grid{
        width: 50%;
     }
     .grid p{
        font-size: 0.8rem;
        /* margin:10px 0px; */
     }
  }

    @media (max-width: 480px) {
        .footerbox
         { grid-template-columns: repeat(1, 1fr); }
    }


.grid{
    display: flex;
    flex-direction: column;
}
.grid p{
    color: rgb(134, 131, 131);
    font-size: 1rem;
    font-weight: 500;
    /* margin: 10px 30px; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    text-decoration: underline;
}

.grid p:hover{
    color: white;
    cursor: pointer;
}



@media screen and (max-width: 750px){
    .video-container{
        width: 90%;
    }
    
}

